<div class="container research-container">
  <h3>{{ site.press_title | default: "Research" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.press_content | strip | markdownify }}
      <p>
          My work covers a range of topics which involve the planet formation process and environment. These can be broken up more broadly into the following themes.
      </p>

      <h3>Withnessing the Formation of Planetary Systems</h3>

      <p>
      If we are to really understand the planet formation process, we must first find the still-forming planets. We have recently made the [first detection of a circumplanetary disk](https://public.nrao.edu/news/2019-alma-circumplanetary/), a disk around a still-forming planet believed to be the source for moons. However, this approach is only applicable to the inner disk where large, mm sized grains exist. Therefore I am developing methods to understand the limits of what we are able to detect from the gas, by searching for local disturbances in the rotation speed of the gas. This allowed us to [infer the presence of unseen planets in HD 163296](https://public.nrao.edu/news/2018-alma-proto-trio/), a project which we hope will lay the foundations for more detections of still-forming planets.
      </p>

      <p>
      I am organising the [Visualizing the Kinematics of Planet Formation](https://diskdynamics.github.io) workshop where we are brining together astronomers working on this problem to share ideas and techniques and develop a road map to fully exploit this method in the future.
      </p>

    </div>
  </div>
</div>
