<div class="container research-container">

  <h3>{{ site.press_title | default: "Research" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.press_content | strip | markdownify }}

      <p>
          When, where and how do planetary systems form? These are the questions my research aims to answers.
          I tackle these questions primarily with sub-mm interometric observations of the gas and dust in protoplanetary disks, the birthplace of planets.
          Below, I briefly describe the main broad themes of my research.
      </p>

      <br/>
        <h4>Detecting the Youngest Exoplanets</h4>
      <br/>

      <p>
          If we are to really understand the planet formation process, we must first find the still-forming planets.
          We have recently made the <a href="https://public.nrao.edu/news/2019-alma-circumplanetary/">first detection of a circumplanetary disk</a>, a disk around a still-forming planet believed to be the source for moons.
          This work continues to push the boundaries for what is possible with the Atacama Large (sub-)Milimeter Array (ALMA).
          However, as this approach is only applicable to the inner disk where large, mm sized grains exist, I am developing methods to understand the limits of what we are able to detect from the gas.
          By searching for local disturbances in the rotation speed of the gas, we are finding a <a href="https://ui.adsabs.harvard.edu/abs/2019ApJ...884L..56T/abstract">stunning variety of kinematical substructures</a>, indicative of a large population of of sitll-forming planets.
          Follow-up observations with the upcoming James Webb Space Telescope and future 'extremely large' ground-based telescopes will allow us to directly probe the atmospheres of these planets and understand how key organic species are delivered to them.
          You can see a brief talk I gave at Exoplanets III on the prospects for detecting embedded exoplanets <a href="https://exoplanet-talks.org/talk/197">here</a>.
      </p>

      <br/>
        <h4>The 6D Structure of the Planet Formation Environment</h4>
      <br/>

      <p>
          The unparalleled spatial resolution afforded by ALMA has enabled a unique view of the 6D (three spatial dimensions and three velocity dimensions) structure of a protoplanetary disk.
          For example, using a newly developed technique, we have been able to infer <a href="https://public.nrao.edu/news/gas-waterfalls-reveal-infant-planets-around-young-star/">the first 3D velocity map of a disk</a>, confirming the presence of 'meridional flows'.
          Such flows are an efficient way to transport material from the disk atmosphere to the planet-forming midplane and will have large implication for the chemical processes which takes place during the planet formation process.
          In parallel, I am working on techniques to measure empirical 2D temperature structures, a fundamental property of disks which strongly influences to the pace and efficiency of planet formation.
      </p>


      <br/>
        <h4>Molecular Excitation and Polarization</h4>
      <br/>

      <p>
          While protoplanetary disks do not show the chemical complexity found in earlier phases of star formation, the molecules which are detected provide a tremendous amount of information about the underlying physical and chemical structures.
          I am interested in using molecular excitation to infer physical properties of the disk, such as the gas temperature, density or ionization level.
          By exploiting our astrochemical knowledge, we can use different molecules to trace different regions in the disk and unravel the full structure of the disk.
          We have used this technique to <a href="https://www.mpia.de/henning/press-releases/2017-01-twhydrae-disk">trace perturbations in the disk of TW Hya</a>, connecting to features observed with the scattered light.
          I have also been adapting techniques used to detect weak molecular emission to search for weakly polarized molecular line emission.
          The detection of polarized line emission provides a direct probe of the underlying magnetic fields in a disk, a propery that has hitherto remained elusive.
      </p>

      <br/>

    </div>
  </div>

<h3>{{ site.press_title | default: "In The Press" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.press_content | strip | markdownify }}

      <h4><a href="https://public.nrao.edu/news/alma-reveals-carbon-rich-organic-birth-environments-of-planets/">"First Results from the MAPS Large Program"</a> - 9/2021</h4>
      <br/>
      <p>
        We released the first 20 papers from the <a href="http://alma-maps.info/">Molecules with ALMA at Planet-forming Scales (MAPS)</a> collaboration.
        This Large Program, lead by PI Karin Öberg and co-PIs Yuri Aikawa, Ted Bergin, Vivi Guzman and Catherine Walsh, explored the chemical context of five protoplanetary disks at an unparalleled spatial resolution and sensitivity.
        The results from this program range from the mapping of the 3D structures of disks, to probing the C/O ratios across the disks and searching for kinematical substructures driven by embedded planets. 
      </p>
      <br/>
      
      <h4><a href="https://www.eso.org/public/news/eso2111/">"First Clear Detection of a Moon-Forming disc around an Exoplanet"</a> - 7/2021</h4>
      <br/>
      <p>
        This work builds upon our <a href="https://public.nrao.edu/news/2019-alma-circumplanetary/">previous detection of circumplanetary material in PDS 70</a>.
        By combining several data sets we were ablet to achieve an unparalleled sensitivity and angular resolution to spatially resolve a circumplanetary disk around PDS 70c.
        No only do these observations provide diffinitive proof of circumplanetary disks, but allow for the first measurements of their size and mass content.
      </p>
      <br/>

      <h4><a href="https://public.nrao.edu/news/gas-waterfalls-reveal-infant-planets-around-young-star/">Gas ‘Waterfalls’ Reveal Infant Planets around Young Star</a> - 10/2019</h4>
      <br/>
      <p>
        Building on the previous kinematical detection of planets, we showed in this work how to extract 3D velocity structures from observations.
        This allowed us to detect 'meridional flows' around the three previously detected planets.
        These flows can transport of material from the chemical rich atmospheric regions of a disk down to the still-forming planets, allowing us to inventory atmosphere-building material first hand.
      </p>
      <br/>

      <h4><a href="https://public.nrao.edu/news/2019-alma-circumplanetary/">‘Moon-forming’ Circumplanetary Disk Discovered in Distant Star System</a> - 7/2019</h4>
      <br/>
      <p>
        In this work we presented the first tentative evidence for a sub-mm detection of circumplanetary disks, moon-forming material that surrounds a newly born planet.
        PDS 70 was known to host (at least) two planets based on near infrared observations, however these observations provided the first evidence for the long hypothesized circumplanetary disk.
      </p>
      <br/>

      <h4><a href="https://public.nrao.edu/news/2018-alma-proto-trio/">Trio of Infant Planets Discovered around Newborn Star</a> - 6/2018</h4>
      <br/>
      <p>
        Here, we were one of two teams to simultaneously demonstrate we can detect exoplanets by their influence on the gas dynamics in their parental disk.
        We demonstrated a new method to measure the rotation velocities of the disk to a meters-per-second precision, enough to witness deviations driven by two Jupiter mass planets.
      </p>

      <h4><a href="https://www.mpia.de/henning/press-releases/2017-01-twhydrae-disk">Probing the 3D Structure of a Protoplanetary Disk</a> - 2/2017</h4>
      <br/>
      <p>
        This work was the first to demonstrate a ringed structure in molecular emission which was coincident with a gap previously detected in the same grains probed by near infrared observations.
        The data, both at sub-mm and NIR wavelenghts, were able to be reproduced with the presence of a planet at 90au in the disk of TW Hya.
      </p>



    </div>
  </div>

</div>
