<div class="container research-container">
  <h3>{{ site.press_title | default: "Research" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.press_content | strip | markdownify }}

      <p>
          My research can be can be broadly broken down into a few major themes, but all involve the study of protoplanetary disks using primarily sub-mm osbervations. My work has also been feature in several press releases, which I have linked to below.
      </p>

      <br/>
      <h4>Withnessing the Formation of Planetary Systems</h4>
      <br/>
      <p>
          If we are to really understand the planet formation process, we must first find the still-forming planets. We have recently made the <a href="https://public.nrao.edu/news/2019-alma-circumplanetary/">first detection of a circumplanetary disk</a>, a disk around a still-forming planet believed to be the source for moons. However, this approach is only applicable to the inner disk where large, mm sized grains exist. Therefore I am developing methods to understand the limits of what we are able to detect from the gas, by searching for local disturbances in the rotation speed of the gas. This allowed us to <a href="https://public.nrao.edu/news/2018-alma-proto-trio/">infer the presence of unseen planets in HD 163296</a>, a project which we hope will lay the foundations for more detections of still-forming planets.
      </p>

      <p>
          I am organising the <a href="https://diskdynamics.github.io">Visualizing the Kinematics of Planet Formation</a> workshop where we are brining together astronomers working on this problem to share ideas and techniques and develop a road map to fully exploit this method in the future.
      </p>

      <br/>
      <h4>Dynamial Structure of Protoplanetary Disks</h4>
      <br/>

      <p>
          By studying the motions of the gas in the protoplanetary disk, we also can gain unique insights into the physical processes which are present in the disk. In addition to searching for the signs of embedded planets, we can search for hydrodyanamical proccesses which transport material and angular moment throughout the disk. Using a newly developed technique, we have been able to infer <a href="https://public.nrao.edu/news/gas-waterfalls-reveal-infant-planets-around-young-star/">the first 3D velocity map of a disk</a>, confirming the presence of 'meridional flows', demonstrating an efficient way to transport material from the disk atmosphere to the planet-forming midplane.
      </p>

      <br/>


    </div>
  </div>
</div>
